<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <h1>Introduction</h1>
    <p>Hi, my name is...</p>
    <h1>Favorites</h1>
    <p>My favorite foods are</p>
    <ul>
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
    </ul>
    <h1>Recipe for cookies</h1>
    <p>I got this recipe from cookies.com 
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/2ChocolateChipCookies.jpg/1280px-2ChocolateChipCookies.jpg"></p>
    Image from <a href="https://en.wikipedia.org/wiki/Cookie#/media/File:2ChocolateChipCookies.jpg">Wikipedia</a>.
    <ol>
      <li>Preheat the oven to 350</li>
      <li>Second</li>
      <li>Third</li>
    </ol>
  </body>
</html>
