<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <section>
        <h1>Header</h1>
        <article>
          <p>Content...</p>
        </article>
      </section>
    </header>
    <!-- NAV -->
    <nav>
      <section>
        <h2>Nav</h2>
        <article>
          <p>Content...</p>
        </article>
      </section>
    </nav>
    <!-- ASIDE -->
    <aside>
      <section>
        <h2>Aside</h2>
        <article>
          <p>Content...</p>
        </article>
      </section>
    </aside>
    <!-- MAIN -->
    <main>
      <section>
        <h2>Main</h2>
        <article>
          <p>Content...</p>
        </article>
      </section>
    </main>
    <!-- FOOTER -->
    <footer>
      <section>
        <h2>Footer</h2>
        <article>
          <p>This file is available as a <a href="https://codepen.io/psb-david-petty/pen/rPNEvw?editors=1000">CodePen</a>...</p>
        </article>
      </section>
    </footer>
  </body>
</html>
