body {
  font-family: Arial;
  margin: 0;
}
nav {
  background: gray;
}
nav ul {
  list-style-type: none;
  padding: 0 0;
  background-color: gray;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li:hover {
  background: white;
  color: black;
}
nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 10px;
} acolor: black;