body {
  font-family: Calibri, Arial, sans-serif;
  margin: 0;
  background: lightgreen;}
header {
  font-style: italic;
  background: white;
  padding: 10px;
}
nav {
  background: green;
  box-shadow: 0px 0px 10px green;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
}
nav ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
}
nav ul li:hover {
  background: darkgreen;
  cursor: pointer;
}
nav ul li a:hover {
  color: white;
}
nav ul li ul {
  display: none;
  position: absolute;
  visibility: hidden;
  background: white;
  left: 0;
}
nav ul li:hover>ul, nav ul li ul:hover {
  visibility: visible;
  display: block;
}
nav ul li ul li {
  clear: both;
  width: 100%;
}
nav ul li ul li:hover {
  background: lightgray;
}
nav ul li ul li a:hover {
  color: black;
}
nav ul li ul {
  left: 0;
}
nav ul li ul li:hover>ul, nav ul li ul li ul:hover {
  visibility: visible;
  display: block;
}
nav ul li ul li ul li {
  clear: both;
  width: 100%;
  left: 100%;
  background: white;
  top: 0;
}
nav ul li ul li ul li:hover {
  background: lightgray 
}
nav ul li ul li ul li a:hover {
  color: black;
}
aside {
  box-shadow: 1px 1px 10px green;
  margin-left: 70%;
  margin-right: 5%;
  background: white;
}
main {
  box-shadow: 1px 1px 10px green;
  margin-left: 15%;
  margin-right: 30%;
  background: white;
}
footer {
  background: darkgreen;
}eeneen203:03n