body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

/*********************************************/
/* Header Styling */
/*********************************************/
img {
  display: block;
  margin-left: auto; margin-right: auto;
  margin-top: 2%; margin-bottom: 5%;
}

/*********************************************/
/* Nav Styling */
/*********************************************/
nav {
  background: rgba(43, 43, 43, 0.85);
  color: #fff;
  font-size: 23px;
  width: 95%;
  margin-left: auto; margin-right: auto;
}

/*TODO Make list not indent.*/
nav ul {
  width: 95%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  outline: 1px solid red;
}

nav ul li {
  width: 20%;
  padding: 2% 2% 2% 2%; /* top left bottom right */
  text-align: center;
}

nav ul li:hover {
  background: rgba(83, 83, 83, 0.85);
}

/*********************************************/
/* Main Styling */
/*********************************************/

/*********************************************/
/* Scroll Up Button */
/*********************************************/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
