body {
  font-family: monospace;
}
article {
  border: thin solid;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
figure {
  padding: 0; margin: .5em;
}
figure img {
  max-height: 200px;
  max-width: 100%;
}