/* Body Styling */
body {
  background-image: url("./images/pageBackground.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Styling */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Nav Styling */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 10px 20px 10px 20px; /* top right bottom left */
}

.navigationBackground {
  background-color: #1c1c1c;
  opacity: 0.98;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  color: #e8a70c;
}

.active {
  color: #e8a70c;
}

/* Main Styling */
main {
  color: #b8b8b8;
}

main h1 {
  color: #ffffff;
}

.date span {
  color: #e8a70c;
}

main ul {
  list-style-type: none;
}

main ul ::before {
  content: "- ";
}

main li a {
  color: #ffffff;
  text-decoration: none;
}

/* Aside Styling */
aside {
  display: block;
  float: right;
  text-align: center;
  color: #ffffff;
}


/* Main Section Styling */
.mainBodyBackground {
  background-color: #1c1c1c;
  opacity: 0.98;
}

.divider {
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  width: 75%;
  background-color: #565961;
}
