/* Body Styling */
body {
  background-image: url("./images/pageBackground.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Styling */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  width: 50%;
}

/* Nav Styling */
nav {
  margin: 0 0 2% 0; /* top right bottom left */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 10px 20px 10px 20px; /* top right bottom left */
}

.navigationBackground {
  background-color: #1c1c1c;
  opacity: 0.98;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: #e8a70c;
}

.active {
  color: #e8a70c;
}

/* Main Styling */
main {
  color: #bababa;
  padding: 2% 5% 5% 5%; /* top right bottom left */
  width: 50%;
}

main h1 {
  color: #fff;
}

.date summary mark {
  background-color: #666;
  color: #e8a70c;
}

main ul {
  list-style-type: none;
}

main ul ::before {
  content: "\2014\0020";
}

main ul li {
  text-indent: -5%;
  text-align: left;
}

.olderPosts {
  margin-top: 20%;
}

.olderPosts a {
  text-decoration: none;
  color: #fff;
}

main h1 a {
  color: #fff;
  text-decoration: none;
}

main h1 a:hover {
  color: #e8a70c;
}

/* Aside Styling */
aside {
  display: block;
  float: right;
  text-align: center;
  color: #fff;
  width: 40%;
}

.sidebarBoxes {
  display: grid;
  align-self: center;
}

.doubleHighBlocks {
  height: 96px;
  overflow: hidden;
  padding: 3% 5% 0% 5%; /* top right bottom left */
}


/* Main Section Styling */
.mainBodyBackground {
  background-color: #1c1c1c;
  opacity: 0.98;
}

.divider {
  margin-left: auto; margin-right: auto;
  height: 1px;
  width: 75%;
  background-color: #565961;
}

/* Footer Styling */
footer {
  width: 100%;
  font-size: 10px;
  color: #a3bac4;
  clear: both;
  max-width: 75%;
  margin-left: auto; margin-right: auto;
}
