h1 {
    position:relative;
}

#a {
    position:fixed;
    
    background-color:black;
    width:946px;
    height:100px;
}

#b {
    color:red;
    
    position:fixed;
    
    left:500719px;
    
    bottom:1;
}











