a {
	color: black;
}
header{
    display:flex;
    justify-content:center;
}

p {
    background-image:;
}
nav {
	margin: 50px 0;
	background-color: black;
	display:flex;
	justify-content:center;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	
	}
	
nav ul li {
	display:inline-block;
	background-color:black;
	
	}

nav a {
	display:inline;
	padding:0 10px;	
	color:white;
	font-size:15px;
	line-height: 60px;
	text-decoration:none;
	
}

nav a:hover { 
	background-color: black; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:110px;
	float:none;
	display:llist-itemist-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:;
}

