@font-face {
    font-family: 'Blueprint';
    src: url('BlueprintRegularSWFTE.woff2') format('woff2'),
        url('BlueprintRegularSWFTE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

