
.a {
    font-family: 'Bebas Neue', cursive;
}
#search {
    position:absolute;
    top:200px;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
#red {
    height:100px;
    width:200px;
    
}