h1 {
    color: black;
    font-family: Impact;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: dimgray;
}

.active {
  background-color: darkorange;
}

.flame {text-align: center;
 width:150px;
      padding:1px;
      border:3px solid #021a40;
}

.description {font-family: Verdana;}

.about {font-family: Verdana;}

