h1 {
    color: black;
    font-family: Impact;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: dimgray;
}

.active {
  background-color: darkorange;
}

.flame
{ padding: 3%;}

 .flame img {
    display: block; margin: auto;
 width:50%;
      padding:0px;
      border:3px solid #021a40;
}

.new {
  border-top: 3px solid black;
  padding: 2%;
}

.description {font-family: Verdana;}

.about {font-family: Verdana;}

