
aside {
     background-image: url(https://www.alexander-dennis.com/media/85603/alexander-dennis-enviro500-for-kmb-1-resized.jpg?center=0.52666666666666662,0.53666666666666663&mode=crop&width=1020&height=600&rnd=132169011870000000);
     background-repeat: no-repeat;
     background-position: center;
     height: 500px;
}
p,h2{ color:lightblue;
}
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
  }
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }
  img {
  height: auto;
  width: auto;
}