body {
  font-family: Verdana, Geneva, sans-serif;
}
footer {
  border: thin solid red;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
footer figure {
  padding: 0; margin: .5em;
  display: none;
}
footer figure img {
  max-height: 200px;
  max-width: 100%;
}