nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  color: white;
  width: 30%;
}

nav li:hover {
    background-color: red;
     width: 30%;
}
nav a {
    color: white;
    text-decoration: none;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding:0;
}
nav ul ul {
    display:block;
}
nav li {text-align: left;}
nav > ul > li{
    text-align:center;
    position:relative;
}
nav > ul > li:hover > ul {
    position:relative
    display:block;
}
nav > ul > li:hover > ul > li {
    position:relative;
    display:block;
}
nav > ul > li:hover > ul > li:hover ul {
    display:block;
    position: relative;
}
li {
    padding:1%; min-width: ;
}
h1 {color:green;}
h2 {color:lightyellow;
    font-family: 'Orbitron', sans-serif;
}
nav aside main{both:clear}
p {
  font-family: 'Righteous', cursive;
}
main section:second-child p{font-family: 'Gloria Hallelujah', cursive;}
main section:third-child p{font-family:MBTA Green Line LED display ;outline}


