body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  font-family: "Courier New", "Courier", serif;
  font-size: 20px;
}

/*********************************************/
/* Header Styling */
/*********************************************/
header img {
  display: block;
  margin-left: auto; margin-right: auto;
  margin-top: 2%; margin-bottom: 5%;
}

/*********************************************/
/* Nav Styling */
/*********************************************/

nav {
  background-color: rgba(40, 40, 40, 1);
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0; margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav ul li {
  min-width: 20%;
  text-align: center;
  position: relative;

  color: white;
  padding: 20px 12px 20px 12px;
}

nav li a {
  text-decoration: none;
  display: list-item;
  list-style-type: none;
  color: white;
}

nav ul li:hover {
  background-color: rgba(96, 96, 96, 1);
}

.nonLinkElement:hover {
  background-color: rgba(160, 160, 160, 1);
}

nav > ul > li > ul, nav > ul > li > ul > li > ul, nav > ul > li > ul > li > ul > li > ul {
  display: none;
  background-color: rgba(40, 40, 40, 1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  left: 0; top: 100%;
}

nav > ul > li:hover > ul > li:hover > ul, nav > ul > li:hover > ul > li:hover > ul > li:hover > ul {
  display: block;
  position: absolute;
  left: 100%; top: 0;
}

nav > ul > li:hover > ul > li, nav > ul > li:hover > ul > li:hover > ul > li, nav > ul > li:hover > ul > li:hover > ul > li:hover > ul > li {
  position: relative;
}

/*********************************************/
/* Main Styling */
/*********************************************/

main {
  background-color: rgba(40, 40, 40, 1);
  color: white;
  padding: 2%;
  margin: 2% 0 0 0;
}

main figure {width: 100%; margin: 0;}
main figcaption {width: 100%; font-size: 10px;}
main img {width: 20%;}
.mainPageImage img {width: 100%;}

h1 {
  margin: 0;
}

img {
  margin: 0;
}

p {
  margin: 0 0 5% 0;
}

.purchaseButton {
  background-color: rgba(128, 128, 128, 1);
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: black;
  width: 15%;
  height: 40px;
  border-radius: 5%;
  margin-top: 2%;
}

.purchaseButton:hover {
  background-color: rgba(169, 169, 169, 1);
}

/*********************************************/
/* Scroll Up Button */
/*********************************************/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #808080; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/*
.myBtn:hover {
  background-color: #A9A9A9; /*Add a dark-grey background on hover
}
*/

/*********************************************/
/* Footer Styling */
/*********************************************/
footer {
  background-color: rgba(40, 40, 40, 1);
  color: white;
  padding: 1% 2% 1% 2%;
  margin: 2% 0 0 0;
  font-size: 15px;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

footer ul li {
  margin: 0;
}
