@font-face {
    font-family: 'Square721 BdEx BT';
    src: url('Square721BT-BoldExtended.woff2') format('woff2'),
        url('Square721BT-BoldExtended.woff') format('woff'),
        url('Square721BT-BoldExtended.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('PermanentMarker.woff2') format('woff2'),
        url('PermanentMarker.woff') format('woff'),
        url('PermanentMarker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

